<!DOCTYPE html>
<html>
  <head>
    <title>ParadiseFashion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>	

  <center>
  <font size = '14' face = 'Verdana' color = 'black'> Welcome To Paradise Fashion </font>
  <p>
	<ul>
		</li>
		<li>
		<%= link_to('home', controller: 'pages', action: 'home',) %>
		</li>
		<li>
		<%= link_to('about_us', controller: 'pages', action: 'about_us',) %>
		</li>
		<li>
		<%= link_to('contact_us', controller: 'pages', action: 'contact_us',) %>
		</li>
		<li>
		<%= link_to('opening_hours', controller: 'pages', action: 'opening_hours',) %>
		</li>

	</ul>
</p>	
    <%= yield %>
    </center>
  </body>
</html>
